@font-face {
  font-family: 'KodeMono';
  src: url('./fonts/KodeMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --light-bg-color: white;
  --light-text-color: black;
  --dark-bg-color: black;
  --dark-text-color: white;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: 'KodeMono', sans-serif;
}
 
.app * {
  cursor: inherit;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: auto; 
  padding-bottom: 3.75em; 
}

.app.light {
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.app.dark {
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  border: solid 0.0625em var(--text-color);
  padding: 0.625em 1.25em;
  font-size: 1em;
  font-family: 'KodeMono', sans-serif;
  transition: background-color 0.3s, box-shadow 0.3s; 
}

button:hover {
  box-shadow: 0 0 0 0.125em var(--text-color); 
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-selection, .theme-selection, .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: auto; 
  padding-bottom: 3.75em; 
}

.theme-selection .buttons-container, .cursor-selection .cursor-options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.625em; 
  overflow-y: auto; 
}

.introduction  {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.introduction .intro-text {
  display: flex;
  width: 50%;
  text-align: start;
  justify-content: start;
}

.cursor-option {
  margin-top: 1.25em;
  cursor: pointer;
}

.cursor-option img {
  width: 3.125em; 
  height: auto; 
}

h1 {
  font-size: 3.5em;
  margin-bottom: 2%;
  margin-top: 15%;
}

/* Skills container */
.skills {
  width: 100%; 
  color: var(--text-color);
  text-align: left;
  padding: 1.25em;
  margin-bottom: 2%;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 0.625em;
  list-style: none;
  padding: 0;
}

.skills-grid li {
  background-color: var(--bg-color);
  padding: 0.625em;
  border: 0.0625em solid var(--text-color);
  text-align: center;
}

.introduction {
  width: 80%;
  margin: 1.25em auto;
  text-align: center;
}

.introduction .intro-text {
  margin-bottom: 1.25em;
}

.resume-button {
  padding: 0.625em 1.25em;
  font-size: 1em;
  margin-bottom: 2%;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 0.0625em solid var(--text-color);
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.resume-button:hover {
  box-shadow: 0 0 0 0.125em var(--text-color); 
}

/* Theme specific styles */
.app.light .skill-item, .app.light .resume-button {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

.app.dark .skill-item, .app.dark .resume-button {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

/* Typing animation styles */
.typing-animation {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid var(--text-color);
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
  max-width: fit-content;
}

/* Typing effect */
@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

/* Blinking cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--text-color) }
}
