:root {
  --light-bg-color: white;
  --light-text-color: black;
  --dark-bg-color: black;
  --dark-text-color: white;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 60px; /* Add padding to avoid content getting hidden behind the nav bar */

}

.app.light {
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.app.dark {
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Ensure all child elements inherit the theme colors */
/* .app, .app * { */
/*   background-color: var(--bg-color) !important; */
/*   color: var(--text-color) !important; */
/* } */

button {
  border: solid 1px var(--text-color);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-selection, .theme-selection, .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.theme-selection .buttons-container, .cursor-selection .cursor-options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; /* Add spacing between cursor options */
}

.cursor-option {
  margin-top: 20px;
  cursor: pointer;
}

.cursor-option img {
  width: 50px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}


